<footer id="footer">
  <div class="footer">
     <img src="/MainImage/20200831ssms_footer_logo.png" />
  </div>
  <!--<div class="container">-->
  <!--<div class="text-center">-->
  <!--<small>Copyright © Dongguk University</small>-->
  <!--</div>-->
  <!--</div>-->
</footer>
<script>
  /* 화면의 영역이 작아 푸터의 위치가 화면 내로 올라올 경우 푸터의 위치를 최하단으로 고정 */
  var scrollHeight = window.outerHeight;
  var footer = document.getElementById("footer");
  var rootHeight = document.getElementById("page-top").offsetHeight;
  var footerHeight = footer.offsetHeight;

  if (scrollHeight - rootHeight > footerHeight) {
     footer.style.position = "fixed";
     footer.style.bottom = 0;
     footer.style.left = 0;
    }
</script>
