<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>동국대학교 산학연계프로젝트</title>
  </head>

  <body>
    <!-- 네비게이션 바 -->
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
      id="mainNav"
    >
      <!-- 네비게이션 상단 좌측 로고 -->
      <a class="navbar-brand" href="/"
        ><img src="\image\DGU2.png" />&nbsp 산학관리시스템</a
      >
      <a
        class="navbar-youtube"
        href="https://www.youtube.com/channel/UCPFMNy_S-9oM8P5o1qH2f_g"
        target="_blank"
        ><img src="\image\youtube.png"
      /></a>

      <a class="navbar-ebook" href="http://me2.do/FpVKxGof" target="_blank"
        ><img src="\image\ebook.png"
      /></a>

      <!-- 작은 화면에서 상단 우측 메뉴 버튼 -->
      <button
        class="navbar-toggler navbar-toggler-right"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- 네비게이션 좌측 메뉴 div -->
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <!-- 네비게이션 좌측 메뉴 내용들 -->
        <% include navBarItems.ejs %>
      </div>
    </nav>
  </body>
</html>
