
<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>동국대학교 산학연계프로젝트</title>
  </head>

  <body>
    <!-- 네비게이션 바 아이템 리스트 -->
    <% if(typeof userInfo != 'undefined' && typeof userInfo.userId != 'undefined') { %>
    <ul class="navbar-nav navbar-sidenav" id="accordion">
      <!-- 회원관리 -->
      <% if(userInfo.userType == 'admin') { %>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="회원관리">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#accordion1" data-parent="#accordion">
            <!-- <i class="fa fa-fw fa-sitemap"></i> -->
            <span class="nav-link-text">회원관리</span>
          </a>
          <ul class="sidenav-second-level collapse" id="accordion1">
            <li>
              <a href="/mbrmgt/DGU131">사용자 조회</a>
            </li>
          </ul>

        </li>
      <% } %>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="공지사항">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#accordion8" data-parent="#accordion">
          <span class="nav-link-text">공지사항</span>
        </a>
        <ul class="sidenav-second-level collapse" id="accordion8">
          <li>
            <a href="/msgbrd/DGU701">공지사항</a>
          </li>
        </ul>
      </li>
    <!-- 프로젝트 개설 -->
    <% if(userInfo.userType == 'admin' ||userInfo.userType == 'mentor' ) { %>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="프로젝트 개설">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#accordion3" data-parent="#accordion">

          <span class="nav-link-text">프로젝트 개설</span>
        </a>
        <ul class="sidenav-second-level collapse" id="accordion3">
          <li>
            <a href="/pjmake/DGU301">계획서 작성</a>
          </li>
          <li>
            <a href="/pjmake/DGU311">계획서 관리</a>
          </li>
          <% if(userInfo.userType == 'admin') { %>
             <li>
               <a href="/pjmake/DGU315/pjmentor">프로젝트 - 멘토 매칭/수정</a>
             </li>
          <% } %>
        </ul>
      </li>
      <%}%>




      <!-- 팀 관리 -->
      <% if(userInfo.userType == 'admin' ||userInfo.userType == 'mentor' || userInfo.userType == 'student'|| userInfo.userType == 'instructor' || userInfo.userType == 'assistant') { %>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="팀 관리">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#accordion2" data-parent="#accordion">

          <span class="nav-link-text">팀 관리</span>
        </a>
        <ul class="sidenav-second-level collapse" id="accordion2">
          <% if(typeof userInfo != 'undefined' && typeof userInfo.userId != 'undefined') { %>
               <% if(userInfo.userType == 'admin') { %>
                    <li>
                      <a href="/teammgt/DGU231">팀 조회</a>
                    </li>
                    <li>
                      <a href="/teammgt/DGU271">프로젝트 조회</a>
                    </li>
                    <li>
                      <a href="/teammgt/DGU261">팀 - 교과목 매칭</a>
                    </li>
                    <li>
                      <a href="/teammgt/DGU241">팀 - 프로젝트 매칭</a>
                    </li>
               <% } else if(userInfo.userType == 'instructor') { %>
                       <li>
                         <a href="/teammgt/DGU281">팀 조회</a>
                       </li>
               <% } else if(userInfo.userType == 'assistant') { %>
                       <li>
                         <a href="/teammgt/DGU291">팀 조회</a>
                       </li>
               <% } else if(userInfo.userType == 'student' || userInfo.userType == 'admin') {%>
                     <li>
                       <a href="/teammgt/DGU201">팀 생성 </a>
                     </li>
                    <li>
                      <a href="/teammgt/DGU211">나의 팀</a>
                    </li>

               <% } else if(userInfo.userType == 'mentor' || userInfo.userType == 'admin') {%>
                    <li>
                      <a href="/teammgt/DGU221">팀 선정</a>
                    </li>
               <% } %>
          <% } %>
        </ul>
      </li>
      <% } %>




      <!-- 프로젝트 지원 -->

      <% if(userInfo.userType == 'admin' ||userInfo.userType == 'student' ) { %>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="프로젝트 관리">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#accordion4" data-parent="#accordion">
            <span class="nav-link-text">프로젝트 관리</span>
          </a>
          <ul class="sidenav-second-level collapse" id="accordion4">
            <li>
              <a href="/pjapply/DGU401">프로젝트 지원</a>
            </li>
            <li>
              <a href="/pjapply/DGU411">프로젝트 목록</a>
            </li>
          </ul>
        </li>
      <% }%>

      <!-- 프로젝트 운영 -->
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#accordion5" data-parent="#accordion">
          <span class="nav-link-text">프로젝트 운영</span>
        </a>
        <ul class="sidenav-second-level collapse" id="accordion5">
          <li>
            <a href="/pjmng/DGU502">내 프로젝트</a>
          </li>
          <li>
            <a href="/pjmng/DGU512">프로젝트 점검</a>
          </li>
          <li>
            <a href="/pjmng/DGU522">결과물 등록</a>
          </li>
        </ul>
      </li>
      <!--평가-->
      <% if(userInfo.userType == 'mentor' || userInfo.userType == 'student' || userInfo.userType == 'admin') { %>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="평가">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#accordion6" data-parent="#accordion">

          <span class="nav-link-text">평가</span>
        </a>
        <ul class="sidenav-second-level collapse" id="accordion6">
          <li>
            <a href="/eval/DGU601">만족도조사서</a>
          </li>
        </ul>
      </li>
      <% } %>
      <% if(userInfo.userType == 'admin' && userInfo.userId =='admin') { %>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="설정">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#accordion7" data-parent="#accordion">
          <span class="nav-link-text"> 설정</span>
        </a>
        <ul class="sidenav-second-level collapse" id="accordion7">
          <li>
            <a href="/setting/semes_list">학기 일정 관리</a>
          </li>
          <li>
            <a href="/setting/class_list">개설 과목 관리</a>
          </li>
          <li>
            <a href="/setting/Agmt">약관 관리</a>
          </li>
          <li>
            <a href="/setting/surveylink">평가설문지 관리</a>
          </li>
          <li>
            <a href="/setting/ReportSample">양식 관리</a>
          </li>
          <li>
            <a href="/setting/MainNotice">공지 관리</a>
          </li>
        </ul>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="과거 자료 관리">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#accordion9" data-parent="#accordion">
          <span class="nav-link-text"> 과거 자료 관리</span>
        </a>
        <ul class="sidenav-second-level collapse" id="accordion9">
            <li>
              <a href="/setting/DGU901">과거 자료 조회</a>
            </li>
            <li>
              <a href="/setting/DGU902">이관 작업</a>
            </li>
        </ul>
      </li>
      <% } %>

    </ul>
    <% } else { %>
    <ul class="navbar-nav navbar-sidenav" id="accordion">
    </ul>
    <% }%>


    <ul class="navbar-nav ml-auto">
      <% if(typeof userInfo == 'undefined' || typeof userInfo.userId == 'undefined') { %>
        <li class="nav-item">
          <a class="nav-link" href="/mbrmgt/DGU101">
            회원가입
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/mbrmgt/DGU121">
            <i class="fa fa-fw fa-sign-out"></i>
            Login
          </a>
        </li>
      <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/mbrmgt/DGU111">
            <%= userInfo.userTypeName %> &nbsp;
            <%= userInfo.userName %>

            <% if(userInfo.userName == "") { %>
              -
            <% } %>
            님
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/mbrmgt/DGU141">
            <i class="fa fa-fw fa-sign-out"></i>
            Logout
          </a>
        </li>
      <% } %>
    </ul>
  </body>
</html>

