<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="SHORTCUT ICON" href="\image\Dongguk.ico"/>
    <title>동국대학교 산학연계프로젝트</title>

    <!-- Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <!-- Date Picker -->
    <link rel="stylesheet" type="text/css" href="/public/css/datepicker3.css" />
    <script type="text/javascript" src="/public/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap-datepicker.kr.js"></script>
</head>

<!-- 메인 페이지 -->
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- 네비게이션 바 불러오기 -->
<% include ../navBar.ejs %>

<!-- 메인 -->
<div class="content-wrapper">
    <!-- 메인 내용 -->
    <div class="container-fluid">
        <div class="mb-0 mt-4">
            <h6> 팜 관리 > 과제</h6>
        </div>
        <hr class="mt-2">
        <div class="card mx-auto mt-5 mb-5">
            <div class="card-body">
                <div class ="form-row">
                    <h5> 과제 생성 </h5>
                </div>

                <form action="/parm/AddMat/<%=parm_id%>" method="post" id="setting" enctype="multipart/form-data" onsubmit="return CheckForm();"/>
                <div class="table-responsive" >
                    <div id="dataTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                        <div class="row">
                            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <tbody id="dataTableTBody">
                                <tr role="row" class="odd">
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width:20%;"><center>과제 타입</center></th>
                                    <td class="" colspan="2">
                                        <select class="form-control" id="mat_type" name="mat_type">
                                            <option value = "없음">--- Type ---</option>
                                            <% for(var i = 0; i < ClassInfo.length; i++) {%>
                                            <option value = "<%=ClassInfo[i].type_name%>"><%=ClassInfo[i].type_name%></option>
                                            <% } %>
                                        </select>
                                </tr>

                                <tr role="row" class="odd">
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width:20%;"><center>과제 명</center></th>
                                    <td class="" colspan="2">
                                        <input class="form-control" name="mat_name" id="mat_name" type="text"></td>
                                </tr>

                                <tr role="row" class="odd">
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width:20%;"><center>상속 팀</center></th>
                                    <td class="" colspan="2">
                                        <input class="form-control" name="mat_heb" id="mat_heb" type="text"></td>
                                </tr>

                                <tr role="row" class="odd">
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width:20%;"><center>담당 팀</center></th>
                                    <td class="" colspan="2">
                                        <input class="form-control" name="mat_team" id="mat_team" type="text"></td>
                                </tr>

                                <tr role="row" class="odd">
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width:20%;"><center>카테고리1</center></th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width:20%;"><center>카테고리2</center></th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width:20%;"><center>카테고리3</center></th>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="" colspan="1">
                                        <input class="form-control" name="mat_cat" id="mat_cat" type="text"></td>
                                    <td class="" colspan="1">
                                        <input class="form-control" name="mat_cat2" id="mat_cat2" type="text"></td>
                                    <td class="" colspan="1">
                                        <input class="form-control" name="mat_cat3" id="mat_cat3" type="text"></td>
                                </tr>

                                <tr role="row" class="odd">
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width:20%;"><center>과제 내용</center></th>
                                    <td class="" colspan="2">
                                        <input class="form-control" name="mat_comm" id="mat_comm" type="text"></td>
                                </tr>
                                <tr role="row" class="odd">
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width:20%;"><center>출판물</center></th>
                                    <td class="" colspan="2">
                                        <input class="form-control" name="mat_pub" id="mat_pub" type="text"></td>
                                </tr>

                                <tr role="row" class="odd">
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width:20%;"><center>URL</center></th>
                                    <td class="" colspan="2">
                                        <input class="form-control" name="mat_url" id="mat_url" type="text"></td>
                                </tr>

                                <tr role="row" class="odd">
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width:20%;"><center>PDF</center></th>
                                    <td class="" colspan="2">
                                        <input class="form-control" name="mat_pdf" id="mat_pdf" type="file" ></td>
                                </tr>

                                <tr role="row" class="odd">
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width:20%;"><center>최종기간</center></th>
                                    <td class="" colspan="2">
                                        <input class="form-control" name="mat_date" id="mat_date" type="text" ></td>
                                </tr>

                                <tr role="row" class="odd">
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width:20%;"><center>추천인</center></th>
                                    <td class="" colspan="2">
                                        <input class="form-control" name="mat_recom" id="mat_recom" type="text" ></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class = "form-group mt-4">
                            <div class="form-row">
                                <div class = "col-md-4">
                                    <label> </label>
                                </div>

                                <div class = "col-md-2">
                                    <center> <input type ="submit" class="btn btn-primary btn-block" name = "MakeProject" value="과제 등록"  /> </center>
                                </div>

                                <div class = "col-md-2">
                                    <center> <div class="btn btn-danger" name = "MakeProject" value="취소" onclick="CheckCancel();">취소</div> </center>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>




    <!-- include footer -->
    <% include ../footer.html %>

    <!-- 맨위로 가기 버튼 -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin.min.js"></script>


<script type="text/javascript">

    function CheckForm(){
        var _mat_name = document.getElementById("mat_name").value;
        var _mat_comm = document.getElementById("mat_comm").value;
        var _mat_first = document.getElementById("mat_first").value;
        var _mat_recom = document.getElementById("mat_recom").value;
        var _key_1 = document.getElementById("mat_cat").value;
        var _key_2 = document.getElementById("mat_cat2").value;
        var _key_3 = document.getElementById("mat_cat3").value;

        if (_mat_name == ""){
            alert("과제명을 입력하세요..");
            document.getElementById("mat_name").focus();
            return false;
        }

        if (_key_1 =="" && _key_2 == "" && _key_3 == ""){
            alert("카테고리를 하나 이상 입력하세요");
            document.getElementById("mat_cat").focus();
            return false;
        }

        if (_mat_comm==""){
            alert("내용을 입력하세요..");
            document.getElementById("mat_comm").focus();
            return false;
        }

        if (_mat_first==""){
            alert("최초작성자를 입력하세요..");
            document.getElementById("mat_first").focus();
            return false;
        }

        if (_mat_recom==""){
            alert("추천인을 입력하세요..");
            document.getElementById("mat_recom").focus();
            return false;
        }


        if (confirm("과제를 등록하시겠습니까? ") == true ) {
            return true ;
        }else{
            return false;
        }
    }

    function CheckCancel(){

        if (confirm("과제을 취소하시겠습니까? ") == true ) {
            history.back();
        }else{
            return false;
        }
    }
</script>
</body>
</html>
