<table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0"
       role="grid" aria-describedby="dataTable_info" style="width: 100%;">
    <tbody>
    <tr>
        <th class="" colspan="1"><label>주종화 - 컴퓨터공학과 - 컴퓨터공학종합설계1</label></th>
        <td class="" colspan="1"><label>10회</label></td>
    </tr>
    <tr>
        <th class=""><label>정진우 - 컴퓨터공학과 - 컴퓨터공학종합설계1</label></th>
        <td class=""><label>20회</label></td>
    </tr>
    <tr>
        <th class=""><label>김동호 - 컴퓨터공학과 - 컴퓨터공학종합설계2</label></th>
        <td class=""><label>30회</label></td>
    </tr>
    </tbody>
</table>