<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="SHORTCUT ICON" href="\image\Dongguk.ico"/>
    <title>동국대학교 산학연계프로젝트</title>

    <!-- Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <!-- Page level plugin CSS-->
    <link href="../vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Date Picker -->
    <link rel="stylesheet" type="text/css" href="/public/css/datepicker3.css" />
    <script type="text/javascript" src="/public/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap-datepicker.kr.js"></script>

    <!-- Pie Chart stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css"/>

    <!-- Pie Chart javascript -->
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>

</head>

<!-- 메인 페이지 -->
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- 네비게이션 바 불러오기 -->
<% include ../navBar.ejs %>

<!-- 메인 -->
<div class="content-wrapper">
    <!-- 메인 내용 -->
    <div class="container-fluid">
        <div class="mb-0 mt-4">
            <h6>통계 > 논문 실적 조회 </h6>
        </div>
        <hr class="mt-2">
        <div class="card mb-2 mt-2 pt-1 pl-3 pr-3">
            <div class="card-body">
                <h4>논문 실적 목록</h4>
                <hr class="mt-2">
                
                <h5>교수별</h5>
                <div id="instructorChart"></div>
                <h5>연도별</h5>
                <div id="yearChart"></div>
            </div>
        </div>

    </div>
</div>

<!-- include footer -->
<% include ../footer.html %>

<!-- 맨위로 가기 버튼 -->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="../vendor/datatables/jquery.dataTables.js"></script>
<script src="../vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for this page-->
<script src="../js/sb-admin-datatables.min.js"></script>

<script type="text/javascript" src="../js/jquery.battatech.excelexport.js"></script>
<script type="text/javascript">

    function abilityDownload2(fullPath) {
        var downloadPath = fullPath.substring(7);
        location.href = "/fileDownload/" + downloadPath + "/want";
    }

    // 서버에서 넘어온 배열을 저장 후 맵에 저장
    var statistics = JSON.parse('<%- JSON.stringify(statistics) %>');

    var instructorMap = new Map()
    var yearMap = new Map()
    
    statistics.forEach(element => {
        console.log(element)
        
        var instructor = element.instructor+" - "+element.major;

        if(instructorMap.has(instructor) === true) {
            console.log("has")
            var temp = instructorMap.get(instructor)
            temp.student_num += element.student_num;
            temp.project_num += element.project_num;
            temp.company_num += element.company_num;
            temp.mentor_num += element.mentor_num;
            temp.thesis_num += element.thesis_num;

            instructorMap.set(instructor, temp);
        }
        else {
            var temp = Object.assign({}, element)
            instructorMap.set(instructor, temp);
        }

        var year = element.year;

        if(yearMap.has(year) === true) {
            console.log("has")
            var temp = yearMap.get(year)
            temp.student_num += element.student_num;
            temp.project_num += element.project_num;
            temp.company_num += element.company_num;
            temp.mentor_num += element.mentor_num;
            temp.thesis_num += element.thesis_num;

            yearMap.set(year, temp);
        }
        else {
            var temp = Object.assign({}, element)
            yearMap.set(year, temp);
        }
        
    });

    console.log(instructorMap)
    console.log(yearMap)

    // 교수별 차트
    var instructorColumn = Array.from(instructorMap.keys())
    instructorColumn.unshift('x')

    var instructorStudentNum = Array.from(instructorMap.values()).map(function (instructor) {
        return instructor.student_num;
    });
    instructorStudentNum.unshift('참여 학생수')

    var instructorProjecttNum = Array.from(instructorMap.values()).map(function (instructor) {
        return instructor.project_num;
    });
    instructorProjecttNum.unshift('진행 주제수')

    var instructorCompanyNum = Array.from(instructorMap.values()).map(function (instructor) {
        return instructor.company_num;
    });
    instructorCompanyNum.unshift('참여 기업수')

    var instructorMentorNum = Array.from(instructorMap.values()).map(function (instructor) {
        return instructor.mentor_num;
    });
    instructorMentorNum.unshift('참여 멘토수')

    var instructorThesisNum = Array.from(instructorMap.values()).map(function (instructor) {
        return instructor.thesis_num;
    });
    instructorThesisNum.unshift('논문 등재수')

    var instructorChart = c3.generate({
        bindto: "#instructorChart",
        data: {
            x : 'x',
            columns: [
                instructorColumn ,
                instructorStudentNum,
                instructorProjecttNum,
                instructorCompanyNum,
                instructorMentorNum,
                instructorThesisNum,
            ],
            type: 'bar'
        },
        axis: {
            x: {
                type: 'category',
            }
        }
    });

    // 연도별 차트
    var yearColumn = Array.from(yearMap.keys())
    yearColumn.unshift('x')

    var yearStudentNum = Array.from(yearMap.values()).map(function (year) {
        return year.student_num;
    });
    yearStudentNum.unshift('참여 학생수')

    var yearProjecttNum = Array.from(yearMap.values()).map(function (year) {
        return year.project_num;
    });
    yearProjecttNum.unshift('진행 주제수')

    var yearCompanyNum = Array.from(yearMap.values()).map(function (year) {
        return year.company_num;
    });
    yearCompanyNum.unshift('참여 기업수')

    var yearMentorNum = Array.from(yearMap.values()).map(function (year) {
        return year.mentor_num;
    });
    yearMentorNum.unshift('참여 멘토수')

    var yearThesisNum = Array.from(yearMap.values()).map(function (year) {
        return year.thesis_num;
    });
    yearThesisNum.unshift('논문 등재수')

    var yearChart = c3.generate({
        bindto: "#yearChart",
        data: {
            x : 'x',
            columns: [
                yearColumn ,
                yearStudentNum,
                yearProjecttNum,
                yearCompanyNum,
                yearMentorNum,
                yearThesisNum,
            ],
            type: 'bar'
        },
        axis: {
            x: {
                type: 'category',
            }
        }
    });

</script>
</body>
</html>
