<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="SHORTCUT ICON" href="\image\Dongguk.ico"/>
    <title>동국대학교 산학연계프로젝트</title>

    <link rel="stylesheet" href="../css/reset.css">
    <!-- Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <!-- Page level plugin CSS-->
    <link href="../vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Date Picker -->
    <link rel="stylesheet" type="text/css" href="/public/css/datepicker3.css" />
    <script type="text/javascript" src="/public/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap-datepicker.kr.js"></script>

    <!-- Pie Chart stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css"/>

    <!-- Pie Chart javascript -->
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>

</head>

<!-- 메인 페이지 -->
<body id="page-top">
<!-- 네비게이션 바 불러오기 -->
<% include ../navBar.ejs %>

<!-- 메인 -->
<div class="content-wrapper">
    <!-- 메인 내용 -->
    <div class="container-fluid">
        <div class="mb-0 mt-4">
            <h6>통계 > 실적 조회 </h6>
        </div>
        <hr class="mt-2">
        <div class="card mb-2 mt-2 pt-1 pl-3 pr-3">
            <div class="card-body">
                <h4> 연도별 실적 조회 </h4>
                <hr class="mt-2">
                <% include fieldCard.ejs %>
                <hr class="mt-2">
                
                <!-- <h5>교수별</h5>
                <div id="instructorChart"></div> -->
                <h5>연도별</h5>
                <div id="yearChart"></div>
            </div>
        </div>

    </div>
</div>

<!-- 맨위로 가기 버튼 -->
<!-- <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a> -->
</div>
<!-- include footer -->
<% include ../footer.html %>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="../vendor/datatables/jquery.dataTables.js"></script>
<script src="../vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for this page-->
<script src="../js/sb-admin-datatables.min.js"></script>

<script type="text/javascript" src="../js/jquery.battatech.excelexport.js"></script>
<script type="text/javascript">

    function abilityDownload2(fullPath) {
        var downloadPath = fullPath.substring(7);
        location.href = "/fileDownload/" + downloadPath + "/want";
    }

    // 서버에서 넘어온 배열을 저장 후 맵에 저장
    var statistics = JSON.parse('<%- JSON.stringify(statistics) %>');
    console.log(statistics)
    const years = statistics.reduce((acc, cur) => {
        if(acc.indexOf(cur.year) === -1) acc.push(cur.year);
        return acc;
    }, [])

    let yearClassNum = ['개설 수업수'];
    let yearStudentNum = ['참여 학생수'];
    let yearInstructorNum = ['참여 교수수'];
    let yearCompanyNum = ['참여 회사수'];
    let yearTeamNum = ['참여 팀수'];
    let yearProjectNum = ['진행 프로젝트수'];
    let yearMentoringNum = ['멘토링 진행수'];
    let yearMentorNum = ['참여 멘토수'];
    let yearThesisNum = ['논문등재수'];

    years.forEach(year => {
        const statistic = statistics.filter(cur => {
            return cur.year === year ? true : false;
        })

        yearClassNum.push(statistic.reduce((prev, next) => {
            if(prev.indexOf(next.class_name) !== -1) prev.push(next.class_name);
            return prev;
        }, []).length);

        yearInstructorNum.push(statistic.reduce((prev, next) => {
            if(prev.indexOf(next.instructor) !== -1) prev.push(next.instructor);
            return prev;
        }, []).length);

        yearStudentNum.push(statistic.reduce((prev, next) => {
            prev += next.student_num;
            return prev;
        }, 0));
        
        yearCompanyNum.push(statistic.reduce((prev, next) => {
            prev += next.company_num;
            return prev;
        }, 0));
        
        yearTeamNum.push(statistic.reduce((prev, next) => {
            prev += next.team_num;
            return prev;
        }, 0));
        
        yearProjectNum.push(statistic.reduce((prev, next) => {
            prev += next.project_num;
            return prev;
        }, 0));
        
        yearMentoringNum.push(statistic.reduce((prev, next) => {
            prev += next.mentoring_num;
            return prev;
        }, 0));
        
        yearMentorNum.push(statistic.reduce((prev, next) => {
            prev += next.mentor_num;
            return prev;
        }, 0));
        
        yearThesisNum.push(statistic.reduce((prev, next) => {
            prev += next.thesis_num;
            return prev;
        }, 0));
        
    });

    years.unshift('x')

    var yearChart = c3.generate({
        bindto: "#yearChart",
        data: {
            x : 'x',
            columns: [
                years ,
                yearStudentNum,
                yearMentoringNum,
                yearCompanyNum,
                yearMentorNum,
                yearThesisNum,
                yearClassNum,
                yearInstructorNum,
                yearCompanyNum,
                yearTeamNum,
                yearProjectNum,
                yearThesisNum
            ],
            type: 'bar'
        },
        axis: {
            x: {
                type: 'category',
            }
        }
    });

    function CheckForm(){
        var _instructor = document.getElementById("instructor").value;
        // var _student_num = document.getElementById("student_num").value;
        // var _project_num = document.getElementById("project_num").value;
        // var _company_num = document.getElementById("company_num").value;
        // var _mentor_num = document.getElementById("mentor_num").value;
        // var _thesis_num = document.getElementById("thesis_num").value;

        if (_instructor==""){
        alert("교수를 입력하세요.");
        document.getElementById("instructor").focus();
        return false;
        }

        if (confirm("실적을 등록하시겠습니까? ") == true ) {
            return true ;
        }else{
            return false;
        }
    }
    
</script>
</body>
</html>
