
<input type="hidden" name="statistic_id" id="statistic_id" />
<table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0"
       role="grid" aria-describedby="dataTable_info" style="width: 100%;">
    <tbody>
    <tr role="row" class="odd" name="AddBox0" id="AddBox0">
        <th class=""><label>연도</label></th>
        <td>
            <div>
                <select class="form-control" id="year" name="year">
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                </select>
            </div>
        </td>
        <th class=""><label>학기</label></th>
        <td>
            <div>
                <select class="form-control" id="semester" name="semester">
                    <option value="1학기">1학기</option>
                    <option value="여름학기">여름학기</option>
                    <option value="2학기">2학기</option>
                    <option value="겨울학기">겨울학기</option>
                </select>
            </div>
        </td>
        <th class=""><label>분류</label></th>
        <td>
            <div>
                <select class="form-control" id="term" name="term">
                    <option value="전공단기">전공단기</option>
                    <option value="전공장기">전공장기</option>
                </select>
            </div>
        </td>
    </tr>
    <tr>
        <th class=""><label>교수</label></th>
        <td class=""><input class="form-control" name='instructor' id='instructor'
                            type="text"></td>
        <th class=""><label>전공</label></th>
        <td class=""><input class="form-control" name='major' id='major'
                            type="text"></td>
        <th class=""><label>수업이름</label></th>
        <td class=""><input class="form-control" name='class_name' id='class_name'
                            type="text"></td>
    </tr>
    <tr>
        <th class=""><label>참여 학생수</label></th>
        <td class=""><input class="form-control" name='student_num' id='student_num'
                            type="number"></td>
        <th class=""><label>참여 기업수</label></th>
        <td class=""><input class="form-control" name='company_num' id='company_num'
                            type="number"></td>
        <th class=""><label>참여 팀수</label></th>
        <td class=""><input class="form-control" name='team_num' id='team_num'
                            type="number"></td>
    </tr>
    <tr>
        <th class=""><label>진행 주제 수</label></th>
        <td class="" colspan="2"><input class="form-control" name='project_num' id='project_num'
                            type="number"></td>
        <th class=""><label>멘토링 진행 횟수</label></th>
        <td class="" colspan="2"><input class="form-control" name='mentoring_num' id='mentoring_num'
                            type="number"></td>
    </tr>
    <tr>
        <th class=""><label>참여 멘토수</label></th>
        <td class="" colspan="2"><input class="form-control" name='mentor_num' id='mentor_num'
                            type="number"></td>
        <th class=""><label>논문 등재수</label></th>
        <td class="" colspan="2"><input class="form-control" name='thesis_num' id='thesis_num'
                            type="number" ></td>
    </tr>
    </tbody>
</table>

