<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="SHORTCUT ICON" href="\image\Dongguk.ico"/>
    <title>동국대학교 산학연계프로젝트</title>

    <!-- Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <!-- Page level plugin CSS-->
    <link href="../vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Date Picker -->
    <link rel="stylesheet" type="text/css" href="/public/css/datepicker3.css" />
    <script type="text/javascript" src="/public/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap-datepicker.kr.js"></script>

    <!-- Pie Chart stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css"/>

    <!-- Pie Chart javascript -->
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>

</head>

<!-- 메인 페이지 -->
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- 네비게이션 바 불러오기 -->
<% include ../navBar.ejs %>

<!-- 메인 -->
<div class="content-wrapper">
    <!-- 메인 내용 -->
    <div class="container-fluid">
        <div class="mb-0 mt-4">
            <h6>통계 > 실적 조회 > 세부항목 조회 </h6>
        </div>
        <hr class="mt-2">
        <div class="card mb-2 mt-2 pt-1 pl-3 pr-3">
            <div class="card-body">
                <%
                const fields = {
                    class_name : "총수업수",
                    student_num : "총학생수",
                    instructor : "교수수",
                    company_num : "참여회사수",
                    team_num : "참여팀수",
                    project_num : "진행프로젝트수",
                    mentoring_num : "멘토링진행수",
                    mentor_num : "참여멘토수",
                    thesis_num : "논문등재수" };
                    console.log('123')
                    console.log(fields[field])
                    console.log(field)
                %>
                <h4> <%=year%>년도 - <%=fields[field]%> </h4>
                <form action="/statistics/AddThesis" method="post" id="statistics" onsubmit="return CheckForm();">
                    <div class="col-md-2">
                        <a id="btnExport" href="#" download="">
                            <input type="button" class="btn btn-primary btn-block" value="엑셀파일다운로드"/>
                        </a>
                    </div>
                </form>
                <hr class="mt-2">
                <% include fieldTable.ejs %>
            </div>
        </div>

    </div>
</div>

<!-- include footer -->
<% include ../footer.html %>

<!-- 맨위로 가기 버튼 -->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>
</div>

<!-- For Excel Download -->
<script type="text/javascript" src="../js/jquery.battatech.excelexport.js"></script>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="../vendor/datatables/jquery.dataTables.js"></script>
<script src="../vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for this page-->
<script src="../js/sb-admin-datatables.min.js"></script>

<script type="text/javascript" src="../js/jquery.battatech.excelexport.js"></script>
<script type="text/javascript">

    function abilityDownload2(fullPath) {
        var downloadPath = fullPath.substring(7);
        location.href = "/fileDownload/" + downloadPath + "/want";
    }

    function CheckForm(){
        var _instructor = document.getElementById("instructor").value;
        // var _student_num = document.getElementById("student_num").value;
        // var _project_num = document.getElementById("project_num").value;
        // var _company_num = document.getElementById("company_num").value;
        // var _mentor_num = document.getElementById("mentor_num").value;
        // var _thesis_num = document.getElementById("thesis_num").value;

        if (_instructor==""){
        alert("교수를 입력하세요.");
        document.getElementById("instructor").focus();
        return false;
        }

        if (confirm("실적을 등록하시겠습니까? ") == true ) {
            return true ;
        }else{
            return false;
        }
    }
    $(document).ready(function () {
        $("#btnExport").on('click', function () {
            var uri = $("#dataTable").excelexportjs({
                containerid: "dataTable"
                , datatype:  'table'
                , returnUri: true
            });
            let year = "<%= year%>"
            let field = "<%= fields[field]%>"
            let fileName = year+"년도_"+field+"_통계.xls"
            $(this).attr('download', fileName).attr('href', uri).attr('target', '_blank');

        });
    });
</script>
</body>
</html>
